<header class="header">

    <button class="menu-toggle menu">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </button>

</header>
<nav class="navigation">

    <!-- Login -->
    <div id="login" class="">
        <div class="title">
            <h2 class="">Login</h2>
        </div>
        <div class="">
            <form id="frm-login">
                <div class="">
                    <input class="" type="text" id="txtUserName" name="txtUserName">
                    <label class="" for="txtUserName">Username</label>
                </div>
                <div class="">
                    <input class="" type="password" id="txtPassWord" name="txtPassWord">
                    <label class="" for="txtPassWord">Password</label>
                </div>
                <button class="">
                    Log in
                </button>
            </form>
        </div>
        <div class="">
            Need an account? Please <a href="#" title="Register for a new account!">Register</a>.<br>
            Forget your <a href="#" title="Forget your password?">password</a>?
        </div>
    </div>
</nav>