<nav class="navigation flex column centered justified-c" data-state="false">
    <a class="login overlay-link flex-child" data-target="login">Login</a>
    <a class="register overlay-link flex-child" data-target="register">Register</a>
    <a class="profile hidden overlay-link flex-child" data-target="profile">Profile</a>
    <a class="settings hidden overlay-link flex-child" data-target="settings">Settings</a>
    <a class="logout hidden flex-child" data-target="logout"><i class="fa fa-power-off"></i></a>
</nav>
<div class="navigation-close-hitbox"></div>
