<!-- VENDOR SCRIPTS -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>

<script src="{{ 'js/vendor/signals.min.js' | site.baseurl }}"></script>
<script src="{{ 'js/vendor/hasher.min.js' | site.baseurl }}"></script>
<script src="{{ 'js/vendor/hammer.min.js' | site.baseurl }}"></script>
<script src="{{ 'js/vendor/hammer-time.min.js' | site.baseurl }}"></script>

<!-- MY SCRIPTS -->
<script src="{{ 'js/utils.js' | site.baseurl }}"></script>
<script src="{{ 'js/helpers.js' | site.baseurl }}"></script>
<script src="{{ 'js/models.js' | site.baseurl }}"></script>
<script src="{{ 'js/services.js' | site.baseurl }}"></script>
<script src="{{ 'js/main.js' | site.baseurl }}"></script>