// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
html, body {
  overflow: hidden;
  height:100%;
}


.wrapper {
  height:100%;
  position: relative;
  left:0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow-x: hidden;
}

.navigation-open {
  left: 240px;
}


.overlay {
  position: absolute;
  height:100%;
  width: 100%;
  background-color: $light-grey;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  &.active{
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  .editToggle {
    position: absolute;
    right:10px;
    top:10px;
  }
}

.panel {
  position: relative;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
  max-width: 100%;

  @media (max-width: $sm){
    margin: 1em auto;
    padding: 1em;

  }

}

.group {
  position: relative;
  margin-bottom: 25px;
  width: 100%;
  &.half {
    width:50%;
    padding: 0 5px;
  }
}

.avatar {
  border-radius: 25%;
  height: 100px;
  width:100px;
  &.large {
    height:200px;
    width:200px;
    @media (max-width: $sm){
      width: 100px;
      height: 100px;
    }
  }
  &.small {
    height: 50px;
    width: 50px;
  }
  &.editable {
    cursor:pointer;
    border: $primary solid 4px;
  }
}