// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  height: 10px;
  background-color: $brand-color;
  position: relative;

  @include respond-to('xs'){

    content:"";
  };
}

.navigation {

}